@charset "utf-8";

/* 새글 */
#new_sch {text-align: center;padding: 10px;background: #fff;border: 1px solid #e8e8e8;position: relative;margin: 10px 0;}
#new_sch select{float:left;width:25%;border:0;background: #f5f6f7;height:40px}
#new_sch .frm_input {border:0;width:50%;background: #f5f6f7; }
#new_sch .btn_submit {position:absolute;bottom:10px;right:10px;width:40px;height:40px;background:none;color:#91a9bc;border:0;font-size:15px}
#new_list {padding: 0;margin:10px 0}
#new_list .new_tit{display:block;font-weight:bold;margin:0 0 5px;font-size:1.083em}
#new_list .new_date{float:right;color:#666;font-style:italic}
#new_list .new_board{color:#3ca1ff}