@charset "utf-8";

#visit {margin:10px 0;position:relative}
#visit h2 {padding:20px 20px 0;color:#4a5ba9}
#visit dl{padding:20px;line-height:30px}
#visit dl:after {display:block;visibility:hidden;clear:both;content:""}
#visit dt {float:left;width:50%;padding-left:15px;position:relative}
#visit dt:before{content:'';display:inline-block;width:4px;height:4px;background:#4a5ba9;border-radius:4px;position:absolute;top:50%;margin-top:-2px;left:0}
#visit dd {float:left;width:50%;text-align:right;color:#4a5ba9}
#visit a {position: absolute;top: 20px;right:20px;font-size: 0.92em;color: #848484;}