@charset "utf-8";
.lt_service{padding:120px 0;max-width:1200px;margin:0 auto}
.lt_service ul:after {display:block;visibility:hidden;clear:both;content:""}
.lt_service li{float:left;width:33.333%;position:relative;text-align:center;padding:0 20px;transform:translateY(0px);
-webkit-transition:all .2s ease-in;
-moz-transition: all .2s ease-in;
-ms-transition:all .2s ease-in;
-o-transition: all .2s ease-in;
transition: all .2s ease-in}

.lt_service li:hover{transform:translateY(-20px);}
.lt_service li .lt_img img{max-width:100%;height:auto;vertical-align:top;border-radius:50px}
.lt_service li .lt_tit{display:block;margin:40px 0 20px;font-size:1.538em;font-weight:600}
.lt_service li .lt_detail{font-weight:400;color:#999;line-height:1.8em}

@media (max-width: 639px){
    .lt_service{padding:40px 0}
    .lt_service li{width:100%;padding:20px;text-align:left;}
    .lt_service li:hover{transform:translateY(0);}
    .lt_service li .lt_img{float:left;width:50%;}
    .lt_service .lt_txt_wr{float:left;width:50%;padding:20px}
    .lt_service li .lt_tit{margin:0 0 20px;font-size:1.25em}

 }