@charset "utf-8";

/* 인기검색어 */
#popular {padding:10px 10px 0;text-align:left }
#popular a{display:inline-block;height:22px;line-height:22px;background:#f2f2f2;color:#a4abb3;margin:2px 0;padding: 0 9px;border-radius:55px}
#popular a:hover{background:#528eff;color:#fff}