@charset "utf-8";

/* 새글 */
#new {padding:20px;background:#fff}
#new_sch {padding:15px;text-align:center;background:#f9fafa;border:1px solid #d2e0e0}
#new_sch select {width:26%;float:left;height:40px;margin-bottom:5px;border:1px solid #d0d4df;background:#fff;border-radius:3px}
#new_sch #gr_id {margin-right:1%}
#new_sch #view {border-left:1px solid #e2e2e2}
#new_sch .sch_ipt {float:left;position:relative;width:45%;height:40px;margin-left:1%}
#new_sch .frm_input {width:100%;margin-bottom:10px;border:2px solid #1e5cf6;border-radius:3px;background:#fff}
#new_sch .btn_sch_submit {position:absolute;right:2px;top:2px;height:36px;line-height:0;padding:0 10px;font-size:1.5em;background:#fff;color:#1e5cf6;border:0;cursor:pointer}

#new_list .new_tit {display:block;font-weight:bold;margin:5px 0;font-size:1.083em}
#new_list .new_group {display:inline-block;height:20px;line-height:16px;padding:0 5px;background:#5b78d6;border:1px solid #4664c5;color:#fff}
#new_list .new_board {display:inline-block;height:20px;line-height:16px;padding:0 5px;background:#5bbad6;border:1px solid #38a3c3;color:#fff}

.newli_info {margin-top:5px}
.newli_info span, .newli_info a {color:#848484}
.new_guest img {border-radius:50%}
.new_date, .new_view {padding-left:5px}
.new_cmt {float:right;color:#3598dc !important}

@media (max-width:720px){
	#new_sch {margin:0 0 10px;padding:0;border:0;background:none}
	#new_sch select {width:49.5%}
	#new_sch .sch_ipt {width:100%;margin-left:0}
}
